@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');



/********************style********************/

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #242424;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

input,button,textarea {
    border:none;
    outline:none;
}

/********************Navigasi********************/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #161717;
}

nav ul {
    display: flex;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 22px;
    display : flex;
    font-size: 0.73rem;
    letter-spacing: 0px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    color: white;
}

nav ul li a:hover {
    color :#A36BFD;
    text-shadow: 1px 1px 5px #6B8AEB;
}

.aktif {
    background: linear-gradient(#A36BFD, #6B8AEB);
}

.aktif:hover {
    color:white;
}


/***************Fitur***************/

.fitur {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container {
    background-color:#161717;
    color: white;
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 20px;
}

textarea {
    background-color: #242424;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
    width: 1380px;
    border-radius: 20px;
}

.bt-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

button {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#a36bfd, #6b8aeb);
    border-radius: 10px;
    color: #fff;
    transition: 0.6s ease-in-out;
}

button:hover {
    box-shadow: 0px -5px 20px #6b8aeb;
}


/***************STAR RATING****************/

.star-widget {
    margin-top: -140px;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(180deg);
    z-index: 1;
}

.star-widget input {
    display: none;
}

.star-widget label {
    display : block;
    cursor: pointer;
    
}

.star-widget label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 80px;
    color: #101010;
    padding: 6px;
}

.star-widget label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 80px;
    top:0;
    color: orange;
    opacity: 0;
    transform: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
    padding: 6px;
}

.star-widget label:hover:after,
.star-widget label:hover ~ label:after,
.star-widget input:checked ~ label:after
{
    opacity: 1;
}


/***************Footer***************/

footer {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#A36BFD, #6B8AEB);
    padding: 20px;
  }
  
  footer img {
    border-radius: 100%;
    width: 120px;
    aspect-ratio: 1/1;
  }
  
  footer h1 {
    font-size: 16px;
    color: white;
  }
  
  .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .biodata {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-sosmed {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
  }
